@mixin texto-principal{
    font-size: 20px;
    color: rgb(48, 43, 43);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif Georgia, 'Times New Roman', Times, serif;
        text-align: justify;
        
}
