@mixin texto-principal{
    font-size: 30px;
    color: rgb(27, 27, 27);
    text-shadow: 4px 7px 7px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif Georgia, 'Times New Roman', Times, serif;
}
