@mixin texto-principal{
    font-size: 20px;
    color: rgb(41, 36, 36);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        text-shadow: none;
      
              
}
